<fieldset class="project-description">
  <form [formGroup]="projectForm">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label for="" class="label_modifier">Project Title:</label>
          <input type="text" placeholder=""
                 [ngClass]="{'hasError':projectForm.controls['title'].touched && !projectForm.controls['title'].valid}"
                 class="form-control input_modifier" formControlName="title">
        </div>
        <!--<div class="form-group">-->
        <!--<label for="" class="label_modifier">Are you submitting a Concept or a Full Proposal:</label>-->
        <!--<div class="b-select-wrap">-->
        <!--<select class="form-control select_modifier" formControlName="category">-->
        <!--<option *ngFor="let category of projectCategories" [ngValue]="category.key">{{category.value |-->
        <!--titlecase}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label class="label_modifier" for="">hypothesis:</label>
          <textarea type="text" rows="5"
                    [ngClass]="{'hasError':projectForm.controls['hypothesis'].touched && !projectForm.controls['hypothesis'].valid}"
                    class="form-control textarea_modifier" formControlName="hypothesis"
                    required></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label_modifier" for="">objectives:</label>
          <textarea type="text" rows="5"
                    [ngClass]="{'hasError':projectForm.controls['objectives'].touched && !projectForm.controls['objectives'].valid}"
                    class="form-control textarea_modifier" formControlName="objectives"
                    required></textarea>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label_modifier" for="">Intervention:</label>
          <textarea type="text" rows="5"
                    [ngClass]="{'hasError':projectForm.controls['intervention'].touched && !projectForm.controls['intervention'].valid}"
                    class="form-control textarea_modifier" formControlName="intervention"
                    required></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label_modifier" for="">approximate study dates:</label>
          <textarea type="text" rows="5"
                    [ngClass]="{'hasError':projectForm.controls['studyDates'].touched && !projectForm.controls['studyDates'].valid}"
                    class="form-control textarea_modifier" formControlName="studyDates"
                    required></textarea>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label_modifier" for="">outcomes measured:</label>
          <textarea type="text" rows="5"
                    [ngClass]="{'hasError':projectForm.controls['outcomesMeasured'].touched && !projectForm.controls['outcomesMeasured'].valid}"
                    class="form-control textarea_modifier" formControlName="outcomesMeasured"
                    required></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="" class="label_modifier">Internal Resmed contact:</label>
          <input type="text" placeholder=""
                 [ngClass]="{'hasError':projectForm.controls['internalContact'].touched && !projectForm.controls['internalContact'].valid}"
                 class="form-control input_modifier" formControlName="internalContact"
                 required>
        </div>
        <div class="form-group">
          <label for="" class="label_modifier">Patient Population:</label>
          <div class="b-select-wrap">
            <select class="form-control select_modifier"
                    [ngClass]="{'hasError':projectForm.controls['patientPopulation'].touched && !projectForm.controls['patientPopulation'].valid}"
                    formControlName="patientPopulation" required>
              <option *ngFor="let popType of patientPopulationTypes" [ngValue]="popType.key">
                {{popType.value}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="" class="label_modifier">Phase of Research:</label>
          <div class="b-select-wrap">
            <select class="form-control select_modifier"
                    [ngClass]="{'hasError':projectForm.controls['phase'].touched && !projectForm.controls['phase'].valid}"
                    formControlName="phase" required>
              <option [value]="1">1</option>
              <option [value]="2">2</option>
              <option [value]="3">3</option>
              <option [value]="4">4</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="label_modifier">Other sleep disorder enrollment goal:</label>
          <div class="b-select-wrap">
            <select class="form-control select_modifier"
                    [ngClass]="{'hasError':projectForm.controls['otherEnrollmentGoal'].touched && !projectForm.controls['otherEnrollmentGoal'].valid}"
                    formControlName="otherEnrollmentGoal" required>
              <option *ngFor="let enrolType of otherEnrolmentGoalTypes" [ngValue]="enrolType.key">{{enrolType.value}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="radio-block">
          <h2 class="iir-radio-title">Which of the following focus areas do you feel your project fits
            into?</h2>
          <div class="radio-label-group">
            <label class="cst-radio-container">Clinical pathway optimization in diagnosis ans treatment of
              sleep apnea
              <input type="radio" checked="checked" formControlName="area"
                     [value]="projectAreaType.CLINICAL_PATHWAY_OPT">
              <span class="cst-radio-checkmark"></span>
            </label>
            <label class="cst-radio-container">Compliance and long-term adherence to PAP ther apy through
              telemedicine
              <input type="radio" formControlName="area" [value]="projectAreaType.COMPLIANCE">
              <span class="cst-radio-checkmark"></span>
            </label>
            <label class="cst-radio-container">Economic value of treating sleep apnea and COPD
              <input type="radio" formControlName="area" [value]="projectAreaType.ECONOMIC_VALUE">
              <span class="cst-radio-checkmark"></span>
            </label>
            <label class="cst-radio-container">Clinical outcomes and quality of life with the use of portable
              oxygen concentrators
              <input type="radio" formControlName="area" [value]="projectAreaType.CLINICAL_COUTCOME">
              <span class="cst-radio-checkmark"></span>
            </label>
            <label class="cst-radio-container">Scientific knowledge and patient pathways for the use of NIV
              <input type="radio" formControlName="area" [value]="projectAreaType.SCIENTIFIC_KNOWLEDGE">
              <span class="cst-radio-checkmark"></span>
            </label>
            <label class="cst-radio-container">New insights into utilizing clinical data to improve patient’s
              lives
              <input type="radio" formControlName="area" [value]="projectAreaType.NEW_INSIGHTS">
              <span class="cst-radio-checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <hr class="iir-pipe-line">
    <div class="f1-buttons">
      <button type="button" class="btn btn-gray-600 iir-btn text-uppercase" (click)="saveDraft()"
              [ngClass]="{'btn-invalid-disabled': projectForm.controls['title'].invalid}"
              [disabled]="projectForm.controls['title'].invalid || submitted">Save Draft
      </button>
      <button type="button" class="btn btn-secondary iir-btn btn-next text-uppercase"
              [ngClass]="{'btn-invalid-disabled': !projectForm.valid || submitted}"
              [disabled]="!projectForm.valid || submitted" (click)="formSubmit($event)">Save & next
      </button>
    </div>
  </form>
</fieldset>
