<fieldset class="clinical-siteinfo">
  <form #clinicalForm="ngForm">
    <div class="row">
      <div class="col-sm-6" *ngIf="project">
        <div class="card bg-transparent">
          <div class="card-body">
            <h4 class="iir-card-title mb-0">Project Title: {{project.title}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="top_heading">
      <h3>Principal Investigator Details</h3>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="" class="label_modifier">Name:</label>
          <input type="text" placeholder="" [ngClass]="{'hasError':name.touched && name.invalid}" ngModel name="name"
                 class="form-control input_modifier" [(ngModel)]="investigator.name" #name="ngModel" required>
        </div>
        <div class="form-group">
          <label for="" class="label_modifier">contact phone:</label>
          <input type="number" placeholder=""
                 [ngClass]="{'hasError':phone.touched && phone.invalid}" ngModel name="phone"
                 class="form-control input_modifier" [(ngModel)]="investigator.phone"
                 #phone="ngModel" required>
        </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label_modifier" for="">Primary institution:</label>
          <input type="text" placeholder="" name="institution"
                 [ngClass]="{'hasError':institution.touched && institution.invalid}" ngModel
                 class="form-control input_modifier" [(ngModel)]="investigator.institution"
                 #institution="ngModel" required>
        </div>
        <div class="form-group">
          <label for="" class="label_modifier">e-mail address:</label>
          <input type="email" placeholder="" name="email"
                 [ngClass]="{'hasError':email.touched && email.invalid}" ngModel pattern="[^@]+@[^@]+\.[a-zA-Z]{2,8}"
                 class="form-control input_modifier" [(ngModel)]="investigator.email" #email="ngModel" required>
          <div [hidden]="email.pristine || email.valid">
            <span [hidden]="!email.hasError('pattern')"
                  class="invalid-input-text">Incorrect format. Ex: abc@web.com</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="label_modifier" for="">institution address:</label>
          <input type="text" rows="5" name="address"
                 [ngClass]="{'hasError':address.touched && address.invalid}"
                 class="form-control input_modifier" [(ngModel)]="investigator.address" ngModel
                 #address="ngModel" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="label_modifier" for="">other contact details (optional):</label>
          <input type="text" rows="5" name="otherContact" ngModel #otherContact="ngModel"
                 class="form-control input_modifier" [(ngModel)]="investigator.otherContact">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label_modifier" for="">Please attach the Curriculum vitae of the Investigator: <span
            _ngcontent-c8="" class="small-form-text">(Upto 10MB)</span></label>
          <div class="file_input_modifier">
            <input type="file" name="file" id="file-1" class="inputfile inputfile-1" #file="ngModel" ngModel
                   (change)="onDocumentChange($event)" data-multiple-caption=" {count} files selected"
                   accept=".doc,.docx,application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                   [required]="!(investigator?.documents?.length>0)"/>
            <label for="file-1" [ngClass]="{'hasError':file.touched && file.invalid}">
              <span>Attach file here</span></label>
            <ng-container *ngIf="investigator.documents as files">
              <a [href]="files[0]?.file?.location" target="_blank">
                <img *ngIf="files[0]?.file?.mimetype === 'application/pdf'"
                     src="assets/images/icon/ic_pdf.png" alt=""/>

                <img
                  *ngIf="['application/msword','.doc','.docx','application/msword','application/vnd.openxmlformats-officedocument.wordprocessingml.document'].indexOf(files[0]?.file?.mimetype) > -1"
                  src="assets/images/icon/ic_word.png" alt=""/>
              </a>
              <span>{{files[0]?.file?.originalname}}</span>
            </ng-container>
            <ng-container *ngIf="investigator.file">
              <img *ngIf="investigator.file.type === 'application/pdf'"
                   src="assets/images/icon/ic_pdf.png" alt=""/>
              <img
                *ngIf="['application/msword','.doc','.docx','application/msword','application/vnd.openxmlformats-officedocument.wordprocessingml.document'].indexOf(investigator.file.type) > -1"
                src="assets/images/icon/ic_word.png" alt=""/>
              <span>{{investigator.file.name}}</span>
            </ng-container>
          </div>

        </div>
      </div>
    </div>
    <hr class="iir-pipe-line">
    <div class="f1-buttons">
      <button type="button" class="btn btn-gray-600 iir-btn btn-previous  text-uppercase" (click)="prevClick($event)">
        Back
      </button>
      <button type="button" class="btn btn-gray-600 iir-btn text-uppercase" (click)="saveDraft()"
              [disabled]="submitted" [ngClass]="{'btn-invalid-disabled': submitted}">Save
        Draft
      </button>
      <button type="button" class="btn btn-secondary iir-btn btn-next text-uppercase"
              [ngClass]="{'btn-invalid-disabled': !clinicalForm.valid || submitted}"
              (click)="formSubmit($event)" [disabled]="!clinicalForm.valid || submitted">Save & next
      </button>
    </div>
  </form>
</fieldset>
