<fieldset class="budget">
  <form #budgetForm="ngForm">
    <div class="row">
      <div class="col-sm-6" *ngIf="project">
        <div class="card bg-transparent mb-4">
          <div class="card-body">
            <h4 class="iir-card-title mb-0">Project Title: {{project.title}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <label class="label_modifier" for="">total budget amount:</label>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="number" placeholder="$999,999.99"
                 [ngClass]="{'hasError':amount.touched && amount.invalid}"
                 name="amount" class="form-control input_modifier"
                 [(ngModel)]="budget.amount" #amount="ngModel" required>
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="label_modifier" for="">time frame for requested resmed support:</label>
          <input type="text" class="form-control input_modifier"
                 [ngClass]="{'hasError':timeFrame.touched && timeFrame.invalid}"
                 name="timeFrame" [(ngModel)]="budget.timeFrame" #timeFrame="ngModel" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label for="" class="label_modifier">total request from resmed:</label>
          <div class="b-select-wrap">
            <select class="form-control select_modifier"
                    [ngClass]="{'hasError':totalRequest.touched && totalRequest.invalid}"
                    [(ngModel)]="budget.totalRequest" name="totalRequest" #totalRequest="ngModel" required>
              <option *ngFor="let bType of budgetRequestTypes" [ngValue]="bType.key">{{bType.value | titlecase}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label_modifier" for="">Please attach the Itemized Budget: <span _ngcontent-c8=""
                                                                                        class="small-form-text">(Upto 10MB)</span></label>
          <div class="file_input_modifier">
            <input type="file" name="file" id="file-1" class="inputfile inputfile-1" ngModel
                   (change)="onDocumentChange($event)"
                   data-multiple-caption="{count} files selected"
                   accept=".doc,.docx,application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                   #cvFile="ngModel" [required]="!(budget?.documents?.length>0)"/>
            <label for="file-1" [ngClass]="{'hasError':cvFile.touched && cvFile.invalid}"> <span>Attach file here</span></label>
            <ng-container *ngIf="budget.documents as files">
              <a [href]="files[0]?.file?.location" target="_blank">
                <img *ngIf="files[0]?.file?.mimetype === 'application/pdf'"
                     src="assets/images/icon/ic_pdf.png" alt=""/>

                <img
                  *ngIf="['application/msword','.doc','.docx','application/msword','application/vnd.openxmlformats-officedocument.wordprocessingml.document'].indexOf(files[0]?.file?.mimetype) > -1"
                  src="assets/images/icon/ic_word.png" alt=""/>
              </a>
              <span>{{files[0]?.file?.originalname}}</span>
            </ng-container>
            <ng-container *ngIf="budget.file">
              <img *ngIf="budget.file.type === 'application/pdf'"
                   src="assets/images/icon/ic_pdf.png" alt=""/>
              <img
                *ngIf="['application/msword','.doc','.docx','application/msword','application/vnd.openxmlformats-officedocument.wordprocessingml.document'].indexOf(budget.file.type) > -1"
                src="assets/images/icon/ic_word.png" alt=""/>
              <span>{{budget.file.name}}</span>
            </ng-container>
          </div>

        </div>
      </div>
    </div>
    <hr class="iir-pipe-line">
    <div class="f1-buttons">
      <button type="button" class="btn btn-gray-600 iir-btn btn-previous  text-uppercase" (click)="prevClick($event)">
        Back
      </button>
      <button type="button" class="btn btn-gray-600 iir-btn text-uppercase" (click)="saveDraft()"
              [disabled]="submitted" [ngClass]="{'btn-invalid-disabled': submitted}">Save Draft
      </button>
      <button type="button" class="btn btn-secondary iir-btn btn-next text-uppercase"
              [ngClass]="{'btn-invalid-disabled': !budgetForm.valid || submitted}"
              (click)="formSubmit($event)" [disabled]="!budgetForm.valid">Save & next
      </button>
    </div>
  </form>
</fieldset>
