<div class="clearfix"></div>
<section class="iir-section iir-text-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>ResMed Investigator-Initiated Research Portal</h1>
        <p *ngIf="currentTab===4">
          Preview your submission to ensure all information pertaining to the study is accurate before submitting to
          ResMed's Clinical Review Board"
        </p>
      </div>
    </div>
  </div>
</section>
<div class="form-step-section iir-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-step-block">
          <form role="form" action="" method="post" class="f1">
            <div class="f1-steps">
              <div class="f1-progress">
                <div class="f1-progress-line" data-now-value="0" data-number-of-steps="6" style=""></div>
              </div>
              <div class="f1-step active">
                <div class="icons_section">
                                           <span class="icn-org">
                                              <img src="assets/images/icon/ic_file_yellow.png"
                                                   alt="project description">
                                            </span>
                  <span class="icn-gray">
                                              <img src="assets/images/icon/ic_file_gray.png" alt="project description">
                                            </span>
                  <span class="icn-green">
                                              <img src="assets/images/icon/ic_info_green.png" alt="project description">
                                            </span>
                  <p>project <br>description</p>
                </div>
                <div class="f1-step-icon"><span>1</span></div>
              </div>
              <div class="f1-step">
                <div class="icon_section">
                                           <span class="icn-org ">
                                              <img src="assets/images/icon/ic_clinic_yellow.png" alt="Property">
                                            </span>
                  <span class="icn-gray">
                                              <img src="assets/images/icon/ic_clinic_gray.png" alt="Property">
                                            </span>
                  <span class="icn-green">
                                              <img src="assets/images/icon/ic_clinic_green.png"
                                                   alt="project description">
                                            </span>
                  <p>clinical site<br>information</p>
                </div>
                <div class="f1-step-icon"><span>2</span></div>
              </div>
              <div class="f1-step">
                <div class="icon_section">
                                           <span class="icn-org">
                                              <img src="assets/images/icon/ic_budget_yellow.png" alt="Borrower">
                                            </span>
                  <span class="icn-gray ">
                                              <img src="assets/images/icon/ic_budget_gray.png" alt="Borrower">
                                            </span>
                  <span class="icn-green">
                                              <img src="assets/images/icon/ic_budget_green.png"
                                                   alt="project description">
                                            </span>
                  <p>budget</p>
                </div>
                <div class="f1-step-icon"><span>3</span></div>
              </div>
              <div class="f1-step">
                <div class="icon_section">
                                           <span class="icn-org">
                                              <img src="assets/images/icon/ic_info_yellow.png" alt="Employment">
                                            </span>
                  <span class="icn-gray">
                                              <img src="assets/images/icon/ic_info_gray.png" alt="Employment">
                                            </span>
                  <span class="icn-green">
                                              <img src="assets/images/icon/ic_info_green.png" alt="project description">
                                            </span>
                  <p>additional <br>information</p>
                </div>
                <div class="f1-step-icon"><span>4</span></div>
              </div>
              <div class="f1-step">
                <div class="icon_section">
                                           <span class="icn-org">
                                              <img src="assets/images/icon/ic_preview_yellow.png" alt="Declaration">
                                            </span>
                  <span class="icn-gray">
                                              <img src="assets/images/icon/ic_preview_gray.png" alt="Declaration">
                                            </span>
                  <span class="icn-green">
                                              <img src="assets/images/icon/ic_preview_green.png"
                                                   alt="project description">
                                            </span>
                  <p>preview <br>submission</p>
                </div>
                <div class="f1-step-icon"><span>5</span></div>
              </div>
              <div class="f1-step">
                <div class="icon_section">
                                           <span class="icn-org">
                                              <img src="assets/images/icon/ic_check_yellow.png" alt="Declaration">
                                            </span>
                  <span class="icn-gray">
                                              <img src="assets/images/icon/ic_check_gray.png" alt="Declaration">
                                            </span>
                  <span class="icn-green">
                                              <img src="assets/images/icon/ic_check_green.png"
                                                   alt="project description">
                                            </span>
                  <p class="text-truncate">confirmation of <br>submission</p>
                </div>
                <div class="f1-step-icon"><span>6</span></div>
              </div>
            </div>
            <app-project-form (onNextClick)="nextClick($event)" *ngIf="currentTab==0"></app-project-form>
            <app-clinical-site-form (onNextClick)="nextClick($event)"
                                    *ngIf="currentTab===1"
                                    (onPrevClick)="prevClick($event)"></app-clinical-site-form>
            <app-budget-form (onNextClick)="nextClick($event)"
                             *ngIf="currentTab===2"
                             (onPrevClick)="prevClick($event)"></app-budget-form>
            <app-additional-info-form (onNextClick)="nextClick($event)"
                                      *ngIf="currentTab===3"
                                      (onPrevClick)="prevClick($event)"></app-additional-info-form>
            <app-preview-form (onNextClick)="nextClick($event)"
                              *ngIf="currentTab===4"
                              (onPrevClick)="prevClick($event)"></app-preview-form>

            <app-confirmation *ngIf="currentTab===5"></app-confirmation>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
