<fieldset class="preview-submission">
  <div class="row">
    <div class="col-sm-6" *ngIf="(application|async)?.project?.data as project">
      <div class="card bg-transparent border-0">
        <div class="card-body pl-0 pb-0">
          <h4 class="iir-card-title mb-0">Project Title: {{project.title}} </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="top_heading">
    <h3 class="text-secondary">Project Description</h3>
  </div>
  <ng-container *ngIf="(application|async)?.project?.data as project">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="project-description-block">
          <h5 class="project-description-title" for="">hypothesis</h5>
          <div class="clearfix"></div>
          <div class="project-description-text">
            {{project?.hypothesis}}
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="project-description-block">
          <h5 class="project-description-title" for="">objectives</h5>
          <div class="clearfix"></div>
          <div class="project-description-text">
            {{project?.objectives}}
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="project-description-block">
          <h5 class="project-description-title" for="">intervention</h5>
          <div class="clearfix"></div>
          <div class="project-description-text">
            {{project?.intervention}}
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="project-description-block">
          <h5 class="project-description-title" for=""> approximate study dates</h5>
          <div class="clearfix"></div>
          <div class="project-description-text">
            {{project?.studyDates}}
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="project-description-block">
          <h5 class="project-description-title" for="">outcomes measured</h5>
          <div class="clearfix"></div>
          <div class="project-description-text">
            {{project?.outcomesMeasured}}
          </div>

        </div>
      </div>
    </div>
    <div class="card red-card-box">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
            <div class="card-box">
              <p class="red-card-title text-uppercase mb-0">internal resmed contact:</p>
              <p class="red-card-value mb-0">{{project?.internalContact}}</p>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
            <div class="card-box">
              <p class="red-card-title text-uppercase mb-0">Phase of research:</p>
              <p class="red-card-value mb-0">{{project?.phase}}</p>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
            <div class="card-box">
              <p class="red-card-title text-uppercase mb-0">patient population:</p>
              <p class="red-card-value mb-0">{{project?.patientPopulation}}</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
            <div class="card-box">
              <p class="red-card-title text-uppercase mb-0">other sleep disorder enrollment goal:</p>
              <p class="red-card-value mb-0">{{project?.otherEnrollmentGoal}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="iir-following-title">
          <h5>which of the following focus areas do you feel your project fits into? </h5>
          <p>Economic value of treating sleep apnea and COPD </p>
        </div>
      </div>
    </div>
  </ng-container>
  <hr class="iir-pipe-line">
  <div class="iir-site-info">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="(application|async)?.clinical_site?.data as clinical_site">
        <div class="site-info-block">
          <h5>Clinical site information</h5>
          <h6>Principal investigator details</h6>
          <p><span class="site-info-label">name:</span> <span class="site-info-value">{{clinical_site?.name}}</span></p>
          <p><span class="site-info-label">primary institution:</span> <span class="site-info-value">{{clinical_site?.institution}}</span>
          </p>
          <p><span class="site-info-label">contact phone:</span> <span
            class="site-info-value">{{clinical_site?.phone}}</span></p>
          <p><span class="site-info-label">e-mail address:</span> <span
            class="site-info-value">{{clinical_site?.email}}</span>
          </p>
          <p><span class="site-info-label">institution address:</span> <span class="site-info-value">{{clinical_site?.address}}</span>
          </p>
          <p><span class="site-info-label">other contact details:</span> <span class="site-info-value">{{clinical_site?.otherContact}}</span>
          </p>
          <div class="mt-5"><span class="iir-pdf-title">Clinical site information:</span>&nbsp;&nbsp;
            <ul class="iir-additional-info">
              <li class="iir-additional-info-list">
                <ng-container
                  *ngTemplateOutlet="file_placeholder;context:{document:clinical_site?.documents[0]}"></ng-container>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="(application|async)?.budget?.data as budget">
        <div class="site-info-block iir-bdr iir-budget">
          <h5>Budget</h5>
          <p><span class="site-info-label">total budget amount:</span> <span
            class="site-info-value">{{budget?.amount|currency}}</span>
          </p>
          <p><span class="site-info-label">timeframe from requested resmed support:</span> <span
            class="site-info-value">{{budget?.timeFrame}}</span></p>
          <p><span class="site-info-label">total request from resmed:</span> <span
            class="site-info-value">{{budget?.totalRequest}}</span>
          </p>
          <p></p>
          <p></p>
          <p></p>
          <div class="mt-5"><span class="iir-pdf-title">itemized budget:</span>&nbsp;&nbsp;
            <ul class="iir-additional-info">
              <li class="iir-additional-info-list">
                <ng-container
                  *ngTemplateOutlet="file_placeholder;context:{document:budget?.documents[0]}"></ng-container>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="iir-pipe-line">
    <div class="row" *ngIf="(application|async)?.addl_info?.data as addl_info">
      <div class="col-lg-12">
        <h5>additional information</h5>
        <ul class="iir-additional-info">
          <li class="iir-additional-info-list" *ngFor="let document of  addl_info;">
            <ng-container
              *ngTemplateOutlet="file_placeholder;context:{document:document}"></ng-container>
            <p>{{addlInfoDocumentTitle(document?.category)}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="iir-pipe-line">
  <div class="f1-buttons">
    <button type="button" class="btn btn-gray-600 iir-btn btn-previous  text-uppercase" (click)="prevClick($event)">
      Back
    </button>
    <button type="button" class="btn btn-secondary iir-btn btn-next text-uppercase" [disabled]="!projectId"
            (click)="confirmProject($event)">Submit
    </button>
  </div>
</fieldset>

<ng-template #file_placeholder let-file="file" let-document="document">
  <ng-container *ngIf="document">
    <a [href]="document?.file?.location" target="_blank">
      <img *ngIf="document?.file?.mimetype === 'application/pdf'"
           src="assets/images/icon/ic_pdf.png" alt=""/>

      <img
        *ngIf="['application/msword','.doc','.docx','application/msword','application/vnd.openxmlformats-officedocument.wordprocessingml.document'].indexOf(document?.file?.mimetype) > -1"
        src="assets/images/icon/ic_word.png" alt=""/>
    </a>
    <div class="col">
      <span>{{document?.file?.originalname}}</span>
    </div>
  </ng-container>
</ng-template>
