<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand top-logo" href="#">
      <img src="assets/images/icon/logo.png" alt="Logo"/>
    </a>
    <div class="number">
      <a class="navbar-brand text-uppercase" routerLink="/applications" href="javascript:void(0);">iir portal</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            (click)="toggleNavbar()"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngClass]="{'show':navBarOpen}">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item active"><a class="nav-link" href="javascript:void(0);" routerLink="/applications">My
          Applications <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle nav-link user-dropdown" id="dropdownMenuButton" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false" (click)="toggleProfileOptions()">
            <svg aria-hidden="true" data-prefix="fal" data-icon="user-circle" role="img"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"
                 class="svg-inline--fa fa-user-circle fa-w-16 fa-2x" style="width: 2.5rem;">
              <path fill="currentColor"
                    d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm128 421.6c-35.9 26.5-80.1 42.4-128 42.4s-92.1-15.9-128-42.4V416c0-35.3 28.7-64 64-64 11.1 0 27.5 11.4 64 11.4 36.6 0 52.8-11.4 64-11.4 35.3 0 64 28.7 64 64v13.6zm30.6-27.5c-6.8-46.4-46.3-82.1-94.6-82.1-20.5 0-30.4 11.4-64 11.4S204.6 320 184 320c-48.3 0-87.8 35.7-94.6 82.1C53.9 363.6 32 312.4 32 256c0-119.1 96.9-216 216-216s216 96.9 216 216c0 56.4-21.9 107.6-57.4 146.1zM248 120c-48.6 0-88 39.4-88 88s39.4 88 88 88 88-39.4 88-88-39.4-88-88-88zm0 144c-30.9 0-56-25.1-56-56s25.1-56 56-56 56 25.1 56 56-25.1 56-56 56z"
                    class="" style="color: #e9524b;"></path>
            </svg>
            <span class="user-name">{{(currentUser|async)?.profile?.firstName}} {{(currentUser|async)?.profile?.lastName}}</span>
          </a>
          <div class="dropdown-menu user-dropdown-menu" aria-labelledby="dropdownMenuButton"
               [ngClass]="{'show':profileOpen}">
            <!--<a class="dropdown-item" href="#">-->
            <!--<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="width: 2rem;"><path d="M72,61.5l3,3L62.5,77l-3-3L72,61.5z M31,73c-0.6,0-1-0.4-1-1v-6c0-7.7,5.7-14.1,13.4-14.9l2.9-0.3l-2.5-1.5  C40.2,47,38,43.2,38,39c0-6.6,5.4-12,12-12c6.6,0,12,5.4,12,12c0,4.2-2.2,8-5.8,10.2l-2.5,1.5L56.6,51c6,0.7,10.9,4.8,12.601,10.3  c2.629-2.629-0.147,0.147,1.6-1.6c-2-5-6.2-8.9-11.6-10.3c3-2.6,4.8-6.4,4.8-10.5c0-7.7-6.3-14-14-14s-14,6.3-14,14  c0,4.1,1.8,7.9,4.8,10.5C33.4,51.4,28,58.1,28,66v6c0,1.7,1.3,3,3,3h24.7l2-2H31z M74,59.5l-1,1l3,3l1-1L74,59.5z M57.5,79l4-1l-3-3  L57.5,79z"/></svg>-->
            <!--<span class="align-middle iir-user-label">Edit Profile</span></a>-->
            <!--<a class="dropdown-item" href="#">-->
            <!--<svg fill="#000000" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"-->
            <!--xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"-->
            <!--xmlns="http://www.w3.org/2000/svg"-->
            <!--xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"-->
            <!--xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px"-->
            <!--viewBox="0 0 100 100" style="width: 1.5rem;">-->
            <!--<g transform="translate(0,-952.36218)">-->
            <!--<path-->
            <!--style="font-size:medium;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-indent:0;text-align:start;text-decoration:none;line-height:normal;letter-spacing:normal;word-spacing:normal;text-transform:none;direction:ltr;block-progression:tb;writing-mode:lr-tb;text-anchor:start;baseline-shift:baseline;opacity:1;color:#000000;fill:#000000;fill-opacity:1;stroke:none;stroke-width:4;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Sans;-inkscape-font-specification:Sans"-->
            <!--d="M 68,6 C 53.664286,6 42,17.66429 42,32 c 0,2.17941 0.304098,4.32055 0.8125,6.375 L 8.59375,72.59375 C 8.2695318,72.907411 8.0563981,73.333679 8,73.78125 8,73.78125 6,91.635035 6,92 c 0,1.104569 0.8954305,2 2,2 0.3649652,0 16,0 16,0 0.522037,-0.0042 1.039182,-0.222534 1.40625,-0.59375 l 9,-9 C 34.777466,84.039182 34.995816,83.522037 35,83 l 0,-8 8,0 c 0.522037,-0.0042 1.039182,-0.222534 1.40625,-0.59375 l 3,-3 C 47.777466,71.039182 47.995816,70.522037 48,70 l 0,-8 8,0 c 0.522037,-0.0042 1.039182,-0.222534 1.40625,-0.59375 L 61.625,57.1875 C 63.679445,57.6959 65.820591,58 68,58 82.335714,58 94,46.33571 94,32 94,17.66429 82.335714,6 68,6 z m 0,4 c 12.173954,0 22,9.82605 22,22 0,12.17395 -9.826046,22 -22,22 -2.244627,0 -4.403645,-0.29885 -6.40625,-0.90625 -0.690454,-0.210878 -1.490013,-0.01099 -2,0.5 L 55.1875,58 46,58 c -1.047169,1.05e-4 -1.999895,0.952831 -2,2 L 44,69.1875 42.1875,71 33,71 c -1.047169,1.05e-4 -1.999895,0.952831 -2,2 L 31,82.1875 23.1875,90 10.25,90 11.9375,74.875 46.40625,40.40625 c 0.510989,-0.509987 0.710878,-1.309546 0.5,-2 C 46.298871,36.40364 46,34.24463 46,32 46,19.82605 55.826046,10 68,10 z m 0,13 c -4.946873,0 -9,4.05313 -9,9 0,4.94687 4.053127,9 9,9 4.946873,0 9,-4.05313 9,-9 0,-4.94687 -4.053127,-9 -9,-9 z m 0,4 c 2.785113,0 5,2.21489 5,5 0,2.78511 -2.214887,5 -5,5 -2.785113,0 -5,-2.21489 -5,-5 0,-2.78511 2.214887,-5 5,-5 z"-->
            <!--transform="translate(0,952.36218)"></path>-->
            <!--</g>-->
            <!--</svg>-->
            <!--<span class="align-middle iir-user-label">Change Password</span>-->
            <!--</a>-->
            <a class="dropdown-item" href="javascript:void(0);" (click)="logoutAction()">
              <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;width: 2rem;" xml:space="preserve">
<path d="M64,29.8c-0.3-0.2-0.7-0.2-1.1-0.1c-0.4,0.1-0.7,0.3-0.9,0.7c-0.4,0.7-0.2,1.6,0.5,2c8.8,5.1,13.7,14.9,12.4,25  c-1.5,11.2-10.7,20.3-22,21.5c-7.2,0.8-14.2-1.4-19.5-6.2C28,68,25,61.2,25,54.1c0-8.9,4.8-17.2,12.5-21.7c0.7-0.4,0.9-1.3,0.5-2  c-0.2-0.3-0.5-0.6-0.9-0.7c-0.4-0.1-0.8,0-1.2,0.2c-8.6,5-14,14.3-14,24.2c0,7.9,3.4,15.6,9.4,20.9c5.2,4.7,11.7,7.1,18.6,7.1  c1.1,0,2.2-0.1,3.3-0.2C65.4,80.5,76.7,69,77.9,56.8C78.9,45.9,73.4,35.3,64,29.8z"></path><path d="M49.6,48.3c0.8,0,1.5-0.9,1.5-2V20c0-1.1-0.7-2-1.5-2c-0.8,0-1.5,0.9-1.5,2v26.4C48.1,47.4,48.7,48.3,49.6,48.3z"/></svg>
              <span class="align-middle iir-user-label"> Logout</span>
            </a>
          </div>
        </li>

      </ul>
    </div>
  </nav>
</header>
