<div class="my-login-page">
  <section class="my-login-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 p-0">
          <div class="bg-hero-sec">
            <div class="text-holder logo-content-block">
              <div class="row">
                <div class="col-lg-5 offset-lg-0 col-xl-4 offset-xl-2 align-self-center">
                  <div class="logo-block">
                    <a href="#"><img src="assets/images/icon/logo.png" alt="Logo"/> </a>
                  </div>
                  <p class="logo-text"><em>Changing Lives<br>with every breath</em></p>
                </div>
                <div class="col-lg-1 col-xl-1">
                  <div class="pipe-block">
                    <span class="pipe"></span>
                  </div>
                </div>
                <div class="col-lg-5 col-xl-5 align-self-center">
                  <div class="logo-text-block">
                    <h1>INVESTIGATOR <br>INITIATED <br>RESEARCH</h1>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 p-0">
          <div class="bg-hero-sec-right">
            <div class="row">
              <div class="col-lg-12 offset-lg-0 col-xl-10 offset-xl-1">
                <div class="card-wrapper form-blcok sign-form">
                  <div class="card fat">
                    <div class="card-body">
                      <div class="form-heading">
                        <h1 class="mb-5">iir portal</h1>
                        <p>ResMed's IIR Portal enables potential investigators to begin, save, track, and submit
                          multiple proposals at a time. This dynamic portal will facilitate the proposal submission
                          process by guiding investigators through each section that ResMed requires to properly
                          evaluate each proposal.</p>
                      </div>
                      <form #loginForm="ngForm" (ngSubmit)="loginUser()">
                        <div class="form-group">
                          <div class="input-group mb-3">
                            <input
                              class="modify_input pl-0 rounded-0 form-control border-right-0 border-left-0 border-top-0"
                              placeholder="UserName" aria-label="First Name" aria-describedby="basic-addon2" name="user"
                              type="text" ngModel #username="ngModel" [(ngModel)]="userLogin.username" required
                              style="text-transform: none" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,8}">
                            <div class="input-group-append">
															<span
                                class="input-group-text bg-transparent border-right-0 border-left-0 border-top-0 rounded-0"
                                id="basic-addon_2">
															<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-7.5 0 464 448" enable-background="new -7.5 0 464 448" xml:space="preserve" style="width: 1.5rem;">
<g>
	<path fill="#FFFFFF" d="M279.412,311.368c-11.055-1.759-11.307-32.157-11.307-32.157s32.483-32.158,39.563-75.401   c19.045,0,30.809-45.973,11.76-62.148C320.227,124.635,343.91,8,224,8c-119.911,0-96.225,116.635-95.432,133.662   c-19.047,16.175-7.285,62.148,11.761,62.148c7.079,43.243,39.564,75.401,39.564,75.401s-0.252,30.398-11.307,32.157   C132.976,317.034,0,375.686,0,440h224h224C448,375.686,315.023,317.034,279.412,311.368z"></path>
</g>
</svg>
															</span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="input-group mb-3">
                            <input name="password" placeholder="Password" aria-label="Recipient's username"
                                   class="modify_input pl-0 rounded-0 form-control border-right-0 border-left-0 border-top-0"
                                   aria-describedby="basic-addon2" required type="password" ngModel #password="ngModel"
                                   [(ngModel)]="userLogin.password">
                            <div class="input-group-append">
                              <span
                                class="input-group-text bg-transparent border-right-0 border-left-0 border-top-0 rounded-0"
                                id="basic-addon2"> <svg aria-hidden="true" data-prefix="fas" data-icon="lock-alt"
                                                        role="img" xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 448 512"
                                                        class="svg-inline--fa fa-lock-alt fa-w-14 fa-2x"
                                                        style="width: 1.5rem;"><path fill="currentColor"
                                                                                     d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zM264 392c0 22.1-17.9 40-40 40s-40-17.9-40-40v-48c0-22.1 17.9-40 40-40s40 17.9 40 40v48zm32-168H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"
                                                                                     class=""></path></svg> </span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row align-items-center">
                            <div class="col-sm-12 col-12 btn-xs-center text-center">
                              <button type="submit" class="btn btn-primary text-uppercase btn-submit"
                                      [disabled]="loginForm.invalid || formSubmit">
                                Login <span *ngIf="formSubmit"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
                              </button>
                            </div>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>

                </div>
                <div class="card-form-footer">
                  <ul>
                    <li>
                      <a href="#" class="text-white form-link">Reference guide</a>
                    </li>
                    <li>
                      <a href="#" class="text-white form-link">faqs</a>
                    </li>
                    <li>
                      <a href="#" class="text-white form-link">Support</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>

</div>

