<fieldset class="confirmation-submission">
  <div class="card confi-sub-card border-left-0 border-right-0">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <h1 class="modal-title" id="exampleModalLabel">Your application <br> has been submitted!</h1>
          <div class="check_icn"><img src="assets/images/icon/check.png" alt=""></div>
          <p>Thank you for taking interest's in ResMed's IIR Program. All proposal applications will be reviewed by the
            Clinical Review Board after the quarter's deadline. We will contact you if there are any outstanding
            questions regarding your submission.
            Go to "My Applications" in your IIR Portal to check the status of your application. Otherwise, the Clinical
            Review Board will contact you when a decision has been made on your proposal</p>
        </div>
      </div>
    </div>
  </div>
</fieldset>
