<footer class="p-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="footer-social text-center">
          <a href="#"><i class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="#"><i id="social-tw" class="fa fa-twitter fa-3x social"></i></a>
          <a href="#"><i class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="#"><i id="social-tw" class="fa fa-google-plus fa-3x social"></i></a>
          <a href="#"><i class="fa fa-youtube-square fa-3x social"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 offset-lg-0 col-xl-9 offset-xl-2">
        <div class="footer-middle-sec">
          <div class="row">
            <div class="col-sm-12 wow  fadeIn">
              <ul class="footer-list-group">
                <li class="list-item">
                  <a href="#" class="list-group-link"> Contact</a>
                </li>
                <li class="list-item">
                  <a href="#" class="list-group-link"> About us</a>
                </li>
                <li class="list-item">
                  <a href="#" class="list-group-link"> Legal disclaimer</a>
                </li>
                <li class="list-item">
                  <a href="#" class="list-group-link"> Intellectual property</a>
                </li>
                <li class="list-item">
                  <a href="#" class="list-group-link"> Terms of use</a>
                </li>
                <li class="list-item">
                  <a href="#" class="list-group-link"> Privacy</a>
                </li>
                <li class="list-item">
                  <a href="#" class="list-group-link"> Careers</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <p class="footer-copyright-text">Copyright - 2018 Resmed. All rights reserved.</p>
        <p class="footer-copyright-text">v{{appVersion}}</p>
      </div>
    </div>
  </div>
</footer>
