/*background:image_url("slider-arrow.png") no-repeat left top;
*/
.container {
  max-width: 1380px;
}

header {
  background-color: $white;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 5px 30px;
  transition: all .1s ease-in-out;
  border-bottom: 1px solid $bg-header-bottom-border;
  .top-logo {
    img {
      width: 50px;
    }
  }
  a.navbar-brand {
    font-size: 1.062rem;
    color: $primary !important;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0;
  }
  ul {
    width: 100%;
    .nav-item.active {
      .nav-link {
        color: $primary !important;
      }
    }
    .nav-link {
      color: $black !important;
      padding-top: 12px;
      font-size: 14px;
      padding-bottom: 12px;
      &:hover, &:focus, &:active {
        color: #000 !important;
      }
    }

    .user-dropdown {
      padding: 0 !important;
      display: flex;
      align-items: center;
      cursor: pointer;
      .user-name {
        margin-left: 10px;
        color: $secondary;
      }
    }
    .user-dropdown-menu {
      right: 0;
      left: auto;
      border: none;
      box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
      .dropdown-item {
        color: $black;
        font-size: 1rem;
        padding: 0.35rem 1.5rem;
        display: flex;
        align-items: center;
        .iir-user-label {
          margin-left: .625rem;
        }
      }
    }
    .nav-item {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
  .number {
    font-size: 20px;
    border-left: solid 1px $bg-top-left-border;
    padding-left: 15px;
    color: $white;
    a {
      color: $white;
    }
  }
}

header.sticky {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: $white;
  z-index: 5;
  transition: all .1s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  border-bottom: 1px solid transparent;
  a.navbar-brand {
    color: $blue !important;
  }
  ul .nav-link {
    color: $gray-500 !important;
    &:hover, &:focus, &:active {
      color: $blue !important;
    }
  }
  .nav-item.active {
    .nav-link {
      color: $pink !important;
    }
  }
  .number {
    color: $black;
    a {
      color: $blue;
    }
  }
  .nav-link.login {
    border-color: $blue;
    color: $blue !important;
    &:hover, &:focus, &:active {
      background-color: $pink;
      color: $white !important;
      border-color: $pink;
    }
  }
  .nav-link.start {
    border-color: $blue;
    color: $white !important;
    &:hover, &:focus, &:active {
      background-color: $pink;
      color: $white !important;
      border-color: $pink;
    }
  }
}

.hero-marque {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
  .text-holder {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-42%);
    z-index: 0;
    text-align: center;
    font-size: 22px;
    font-family: $font-family-base !important;
    padding: 0 9%;
    color: $white;
    font-weight: 300;
    h1 {
      font-size: 46px;
      font-family: $font-family-sans-serif;
      font-weight: 400 !important;
    }
  }
  .hero-marquee-wrapp {
    opacity: 0.85;
    width: 100%;
    float: left;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #01b6dc;
    background: -moz-linear-gradient(45deg, #01b6dc 0%, rgba(122, 77, 255, 8.3) 100%);
    background: -webkit-linear-gradient(45deg, #01b6dc 0%, #7a4dff 100%);
    background: linear-gradient(45deg, #01b6dc 0%, #7a4dff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01b6dc', endColorstr='#7a4dff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
  }
}

#hero-bg {
  height: 100%;
  width: 100%;
  z-index: 0;
  right: 0;
  top: 0;
  background: image_url("thumbnails/iir-hero.png") no-repeat left top;
  background-size: cover;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
  overflow: hidden;
}

.iir-section {
  padding: 3.125rem 0 3.125rem 0;
}

.form-section {
  .submit-btn {
    margin-top: 2.5rem;
    .btn-gray-600 {
      margin-right: 2rem;
      margin-left: 2.5rem;
    }
  }
}

.hero-iir-section {
  margin-top: 5rem;
  .hero-iir-text {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.iir-text-section {
  margin-top: 4.375rem;
  padding-bottom: 0;
  h1 {
    font-size: 1.875rem;
    color: $secondary;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
  }
  p {
    font-size: 1rem;
    color: $bg-footer-600;
  }
  .iir-right-btn {
    text-align: right;
  }
  .form-heading {
    font-size: 24px;
    font-weight: 900;
    color: $black-400;
    line-height: 34px;
  }
  .dark-bdr {
    border-color: $bg-boder-dark;
  }
}

.iir-hero-section {
  margin-top: 0;
  padding: 1rem 0 5rem 0;
  .iir-hero {
    margin-top: 3rem;
    margin-bottom: 3rem;
    img {
      width: 100%;
    }
  }
  h3 {
    font-size: 24px;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  .iir-key-areas {
    padding-left: 20px;
    margin-bottom: 5rem;
    .iir-key-areas-list {
      list-style: none;
      margin-bottom: 0.875rem;
      font-size: 1rem;
      &::before {
        width: 12px;
        height: 12px;
        background-color: red;
        content: '';
        position: absolute;
        border-radius: 50%;
        float: left;
        margin-top: 6px;
        margin-left: -20px;
      }
    }
  }
}

.application_history_section {
  .search-form {
    padding: 0 3rem;
    .search-field {
      height: 50px !important;
      border-radius: 0px;
      -webkit-appearance: none !important;
      -moz-appearance: none;
    }
    .b-select-wrap::after {
      content: '';
      position: absolute;
      right: 10px;
      display: block;
      z-index: 1;
      text-align: center;
      pointer-events: none;
      border: 6px solid transparent;
      border-top-color: $black-300;
      margin-left: -7px;
      margin-top: -2px;
      top: 50%;
      left: auto;
    }
    .search-btn {
      padding: 0.4rem 1.875rem 0.4rem 1.475rem;
      border-radius: 0;
      font-weight: 400;
      margin-top: 14px;
      font-size: 1rem;
      margin-bottom: 0;
      .multiple-icons {
        width: 35px;
        height: 35px;
        vertical-align: middle;
      }
    }
    .modify_label {
      text-transform: uppercase;
      opacity: 0.5;
      font-size: 15px;
      font-weight: 600;
    }
    .iir-b-t-l-radius {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    .iir-b-t-r-radius {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
  .app-table-list {
    margin: 1.5rem 0 0 0;
    .iir-app-header {
      background-color: $gray-400;
      border-color: $gray-400;
      h3 {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 0;
        font-weight: 500;
        color: $black-700;
      }
      .iir-app-btn1 {
        padding: 0.6rem 1.8rem;
        font-size: 0.95rem;
        min-width: 9rem;
      }
    }
    .iir-app-table {
      margin-bottom: 0;
      thead {
        background-color: $gray-100;
        th {
          padding: 10px;
          vertical-align: middle;
          color: $table-th-color;
          padding-top: 15px;
          padding-bottom: 10px;
          font-size: 0.875rem;
          text-transform: uppercase;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      td {
        vertical-align: middle;
        background-color: $white;
        font-size: 15px;
        padding-top: 18px;
        padding-bottom: 18px;
        font-weight: 400;
        padding-left: 20px !important;
        padding-right: 20px !important;
        color: $app-table;
      }
      .iir-btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 15px;
        text-transform: capitalize;
      }
      .iir-btn-gray-600 {
        background-color: $btn-gray-600;
        border-color: $btn-gray-600;
        color: $white;
        &:hover {
          background-color: $primary;
          border-color: $primary;
          color: $white;
        }
      }
      .text-warning {
        color: $yellow !important;
      }
    }
    .pipe-bottom {
      margin: 3rem 0;
      border-color: $btn-gray-600;
    }
    .iir-pagination-block {
      .page-item {
        margin-right: 5px;
        .page-link {
          padding: 0.35rem 0.65rem;
          border-radius: 4px;
          border: 1px solid $primary;
        }
      }
      .page-item.disabled .page-link {
        border-color: #dee2e6;
      }
      .page-item.active .page-link {
        background-color: $primary;
        border-color: $primary;
        color: $white;
      }
      .page-item-pre {
        margin-right: 8px;
      }
      .page-item-next {
        margin-left: 3px;
      }
    }
  }

}

.text-gray {
  color: $text-gray;
}

.iir-btn {
  padding: 0.8rem 2rem;
  font-size: 0.95rem;
  min-width: 12rem;
  text-transform: uppercase;
}

.iir-btn-sm {
  padding: 0.4rem 1.9rem;
  font-size: 0.95rem;
  min-width: 6rem;
  text-transform: uppercase;
}

.iir-app-btn {
  background-color: $secondary-500;
  border-color: $secondary-500;
  color: $white;
  border-left: 0.312rem solid $secondary;
  font-size: 1.25rem;
  &:hover {
    background-color: $secondary;
    border-color: $secondary;
    color: $white;
  }
}

/**** form wizard css here ****/
.form-step-section {
  line-height: 1.875rem;
  text-align: center;
  margin-bottom: 1.5rem;
  .icn-gray {
    display: block;
  }
  .icn-org {
    display: none;
  }
  .f1-step.active .icn-gray, .f1-step.active .icn-green {
    display: none;
  }
  .f1-step.active .icn-org {
    display: block;
  }
  .f1-step.activated .icn-gray, .f1-step.activated .icn-org {
    display: none;
  }
  .f1-step.activated .icn-green {
    display: block;
  }
  .f1-step .icn-green, .f1-step .icn-org {
    display: none;
  }
  .f1-step .icn-gray {
    display: block;
  }

  .f1 {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    h3 {
      margin-top: 0;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
  }

  .f1-steps {
    overflow: hidden;
    position: relative;
    margin-top: 1.25rem;
    margin-bottom: 2.812rem;
  }

  .f1-progress {
    position: absolute;
    top: 135px;
    left: 100px;
    width: 84%;
    height: 3px;
    background: $bg-form-wizard-default;
  }
  .f1-progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: $bg-form-wizard-activated;
  }
  .f1-step {
    position: relative;
    float: left;
    width: 16.66667%;
    padding: 0 5px;
  }
  .f1-step-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    //margin-top: 4px;
    background: $bg-body;
    font-size: 15px;
    color: $bg-form-wizard-default;
    line-height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid $bg-form-wizard-default;
    text-align: center;
    vertical-align: middle;

  }
  .f1-step.activated .f1-step-icon {
    background-color: $bg-form-wizard-activated;
    border: 2px solid $bg-form-wizard-activated;
    color: $white;
    line-height: 30px;
  }
  .f1-step.active .f1-step-icon {
    width: 35px;
    height: 35px;
    //margin-top: 4px;
    background-color: $bg-form-wizard-active;
    font-size: 15px;
    line-height: 30px;
    border: 2px solid $bg-form-wizard-active;
    color: $white;
    text-align: center;
    vertical-align: middle;
  }
  .f1-step p {
    color: $bg-form-wizard-default;
    font-size: 0.875rem;
    text-transform: uppercase;
    line-height: 24px;
    margin-top: 15px;
    min-height: 50px;
  }
  .f1-step.activated p {
    color: $bg-form-wizard-activated;
  }
  .f1-step.active p {
    color: $bg-form-wizard-active;
  }
  .f1 fieldset {
    display: block;
    text-align: left;
  }
  .f1-buttons {
    text-align: center;
    margin-bottom: 10px;
  }

  .f1 .input-error {
    border-color: #f35b3f;
  }

  .icons {
    display: none;
  }
  .top_heading {
    margin-top: 40px;
    margin-bottom: 20px;
    h3 {
      font-size: 1.3rem;
      text-transform: uppercase;
      color: $bg-footer-600;
    }
  }
  .top_heading h4 {
    color: $black;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .demographic-text-block {
    p {
      text-align: left;
      line-height: 22px;
    }
  }
  .demographic-content {
    .cst-container {
      text-transform: capitalize;
    }
  }
  .heading1 h4 {
    margin: 0;
    font-weight: bolder;
    color: #202125;
    text-transform: uppercase;
  }
  .right_section {
    margin-top: 28px;
  }
  .right_section h4 {
    font-weight: bolder;
    color: #202125;
    text-transform: uppercase;
  }

  .radio-block {
    margin-bottom: 2.5rem;
    .iir-radio-title {
      font-size: 1.5rem;
      color: $bg-footer-400;
      font-weight: 500;
      margin: 2rem 0;
    }
    .radio-label-group {
      padding-left: 2.5rem;
    }
  }
  .iir-pipe-line {
    margin: 4rem 0;
  }
  .iir-card-title {
    font-size: 1.25rem;
    text-transform: uppercase;
    color: $primary;
  }
  .small-form-text {
    margin-bottom: 0.98rem;
    font-size: 0.875rem;
    font-weight: 300;
    opacity: 0.6;
    line-height: 0.75rem;
  }
  .project-description-block {
    color: $bg-footer-600;
    margin-bottom: 2.5rem;
    .project-description-title {
      margin-bottom: 1rem;
      font-size: 15px;
      text-transform: uppercase;
    }
    .project-description-text {
      font-size: 14px;
      text-align: justify;
      line-height: 24px;
    }
  }
  .red-card-box {
    background-color: $secondary;
    .card-box {
      p {
        font-size: .875rem;
        color: $white;
      }
    }
  }
  .iir-following-title {
    h5 {
      font-size: 1.31rem;
      text-transform: uppercase;
      margin-top: 3rem;
    }
    p {
      font-size: 1.06rem;
    }
  }
  .iir-site-info {
    h5 {
      font-size: 20px;
      text-transform: uppercase;
      color: $secondary;
      margin-bottom: 2rem;
      font-weight: 600;
    }
    .site-info-block {

      h6 {
        font-size: 17px;
        text-transform: uppercase;
        margin-bottom: 1.3rem;
      }
      p {
        font-size: 16px;
        margin-bottom: 0.5rem;
        .site-info-label {
          text-transform: uppercase;
        }
      }
      .iir-pdf-title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    .iir-bdr {
      border-left: 1px solid $bg-vertical-boder;
      height: 100%;
    }
    .iir-budget {
      padding-left: 2rem;
    }
  }
  .iir-additional-info {
    margin: 0;
    padding: 0;
    .iir-additional-info-list {
      display: inline-block;
      width: 19.7%;
      text-align: center;
      p {
        font-size: 1rem;
        margin-bottom: 0;
        text-transform: uppercase;
        margin-top: 1.2rem;
        display: flex;
        justify-content: center;
      }
    }
  }
  .confirmation-submission {
    .confi-sub-card {
      border-top: 10px solid $secondary;
      border-radius: 0;
      box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
      margin-top: 4rem;
      text-align: center;
      padding: 0.625rem 0.625rem 1.25rem 0.625rem;
      h1 {
        margin-top: 2rem;
        font-weight: 600;
        color: $black-500;
        line-height: 42px;
        font-size: 35px;
      }
      .check_icn {
        margin-top: 2rem;
        margin-bottom: 3rem;
      }
      p {
        font-size: 1.2rem;
        color: $secondary;
      }
    }
  }

}

.application-section {
  text-align: left;
  padding-top: 1.2rem;

}

.btn-gray-600 {
  background-color: $bg-form-wizard-default;
  border-color: $bg-form-wizard-default;
  color: $white;
  margin-right: 2rem;
  &:hover {
    background-color: $bg-btn-gray-900;
    border-color: $bg-btn-gray-900;
    color: $white;
  }
}

/**** form wizard css End ****/
.label_modifier {
  font-size: 15px;
  text-transform: uppercase;
  color: $bg-footer-600;
  line-height: 24px;
}

.input_modifier {
  line-height: 1.5;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  font-size: 1rem;
  height: 3.7rem;
  background-color: $bg-body;
}

.textarea_modifier {
  line-height: 1.5;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  font-size: 1rem;
  background-color: $bg-body;
}

.b-select-wrap {
  position: relative;
}

.select_modifier {
  height: 3.7rem !important;
  -webkit-appearance: none !important;
  -moz-appearance: none;
  background-color: $bg-body;
}

.b-select-wrap::after {
  content: '';
  position: absolute;
  right: 10px;
  display: block;
  z-index: 1;
  text-align: center;
  pointer-events: none;
  border: 4px solid transparent;
  border-top-color: #222c35;
  margin-left: -7px;
  margin-top: -2px;
  top: 50%;
  left: auto;
}

/**** custome radio btn css ****/
/* The container */
.cst-radio-container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  color: $bg-footer-600;
}

/* Hide the browser's default radio button */
.cst-radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.cst-radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: $bg-body;
  border: 1px solid $bg-form-wizard-default;
  border-radius: 50%;
}

.cst-radio-container:hover input ~ .cst-radio-checkmark {
  background-color: $bg-form-wizard-default;
}

/* When the radio button is checked, add a blue background */
.cst-radio-container input:checked ~ .cst-radio-checkmark {
  background-color: transparent;
  border: 1px solid $secondary;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.cst-radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.cst-radio-container input:checked ~ .cst-radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.cst-radio-container .cst-radio-checkmark:after {
  top: 7px;
  left: 7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $secondary;
  border: 1px solid $secondary;
}

/**** custome radio btn css end  ****/
.file_input_modifier .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file_input_modifier .inputfile + label {
  max-width: 100%;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  text-align: center;
}

.no-js .file_input_modifier .inputfile + label {
  display: none;
}

.file_input_modifier .inputfile:focus + label,
.file_input_modifier .inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.file_input_modifier .inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.file_input_modifier .inputfile-1 + label {
  color: $white;
  background-color: $bg-form-wizard-default;
}

.file_input_modifier .inputfile-1:focus + label,
.file_input_modifier .inputfile-1.has-focus + label,
.file_input_modifier .inputfile-1 + label:hover {
  background-color: $bg-btn-gray-900;
}

@media screen and (max-width: 50em) {
  .file_input_modifier .inputfile-6 + label strong {
    display: block;
  }
}

/**** css for input file ****/
footer {
  background-color: $bg-footer-600;
  color: $white;
  line-height: 20px;
  .footer-social {
    a {
      margin: 0 12px;
      font-size: 12px;
    }
  }
  a {
    color: $white !important;
    &:hover, &:focus, &:active {
      color: $blue !important;
      text-decoration: none;
    }
  }

  .footer-copyright-text {
    font-size: 14px;
    color: $footer-copy-text;
    text-align: center;
    margin-bottom: 0;
  }
  .footer-middle-sec {
    padding: 15px;
    background-color: $bg-footer-400;
    margin: 25px 0;
    .footer-list-group {
      margin: 0;
      padding: 0;
      text-align: center;
      .list-item {
        background-color: transparent;
        border: 0px;
        padding: 2px 0;
        display: inline-block;
        margin-left: 12px;
        margin-right: 12px;
        .list-group-link {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
          font-size: 1rem;
        }

      }
    }
  }

  .list-group-item-action:hover, .list-group-item-action:focus {
    background-color: transparent;
    color: $blue;
  }
}

.mobile {
  display: none;
}

.hasError {
  border: 1px solid #45e214;
  box-shadow: 2px 2px 3px 3px #bbfab9;
}

.invalid-input-text {
  color: red !important;
}

.btn-invalid-disabled {
  cursor: not-allowed !important;
}

.iir-w-20 {
  width: 20%;
  white-space: nowrap;
}
.application_history_section .search-form .form-control:focus {
  border-bottom: 1px solid #6acdfd;
  box-shadow: 0 3px 1px 0 rgba(255, 255, 255, 0.25);
}
