//colors

$black:    #202125 !default;
$black-500:    #535352 !default;
$black-400:    #616161 !default;
$black-700:    #1e1e1e;
$blue:    #039be5 !default;
$gray-900: #526C79 !default;
$gray-400: #e0e0e0 !default;
$gray-100: #f5f5f5 !default;
$btn-gray-600: #94989f;
$btn-gray-900: #898b8e;


$pink:   #F94F7A !default;
$yellow:  #feb666 !default;
$gray-800: #9b9b9b !default;
$bg-pipe: #9b9b9b;
$bg-right-login: #1791d2;
$bg-submit-btn: #039be5;
$link-bottom: #8dbfe4;
$primary: #039be5;
$secondary: #e9524b;
$secondary-500: #fa736d;

$bg-top-left-border: #e8e9ea;
$bg-header-bottom-border: #bbbbbb;
$bg-body: #f9fafe;
$bg-footer-600: #393939;
$bg-footer-400: #424242;
$footer-copy-text: #7f7f7f;
$bg-form-wizard-active: #feb666;
$bg-form-wizard-activated: #2dcc70;
$bg-form-wizard-default: #bbbbbb;
$bg-btn-gray-900 :#918e8e;
$bg-vertical-boder: #e0e1e4;
$bg-boder-dark: #94989f;
$black-300 : #202125;
$table-th-color: #626262;
$text-gray: #94989f;
$app-table: #222c35;




// Fonts
$font-1: ProximaNovaA-Regular;
// stylelint-enable value-keyword-case
$font-size-base: 0.9375rem !default;
// Assumes the browser default, typically `16px`

$font-1: ProximaNovaA-Regular;
$font-2: ProximaNovaA-Light;
$font-3: ProximaNovaA-Bold;
$font-4: Monotype Corsiva;


