
/*costom css*/
.my-login-section {
  a:hover {
	text-decoration: none;
  }
  .forgot-text {
	opacity: 0.5;
  }
  .bg-hero-sec {
    background-color: $white;
	background-image: image_url('background/login-hero1.png');
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	//margin-left: -15px;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 5.6rem;
	.logo-content-block {
           width: 100%;
           float: left;
           text-align: center;
      .logo-block {
        margin-bottom: 1rem;
      }
      .logo-text-block {
        h1 {
          font-size: 35px;
          font-weight: 500;
          color: $gray-800;
          text-align: left;
          padding-left: 30px;
        }
      }
      .pipe-block {
        position: relative;
        .pipe {
          background-color: $bg-pipe;
          position: absolute;
          height: 180px;
          width: 2px;
          text-align: center;
          left: 50%;
        }
      }
	   p {
         font-size: 1.12rem;
         margin-bottom: 0;
         font-weight: 500;
	   }
	}
  }
  .bg-hero-sec-right {
    background-image: image_url('background/login-hero2.png');
    background-color: $bg-right-login;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: -15px;
    width: 100%;
    padding: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .card-wrapper {
      .card {
        background-color: transparent;
        .card-body {
          padding: 1rem;
          .form-group {
            margin-bottom: 2rem;
          }
          .form-heading {
            margin-bottom: 5rem;
            h1 {
              font-size: 35px;
              line-height: 45px;
              font-weight: 500;
              text-transform: uppercase;
              color: $white;
              text-align: center;
            }
            h2 {
              font-size: 30px;
              color: $white;
              margin: 15px 0;
              line-height: 40px;
              font-weight: 500;
              text-align: center;
            }
            p {
              font-size: 18px;
              color: $white;
            }
          }
          .modify_input {
            font-size: 1rem;
            background-color: transparent;
            color: $white;
            text-transform: uppercase;
          }
          .input-group-text {
            font-size: 1.2rem;
            color: $white;
          }
          .form-control:focus {
            box-shadow: 0 3px 1px 0 rgba(255, 255, 255, 0.25);
          }
          .btn-submit {
            min-width: 9rem;
            font-size: .937rem;
            padding: 12px 15px 12px 15px;
            text-align: center;
            background-color: $bg-submit-btn;
            border-color: $bg-submit-btn;
            box-shadow: 0px 0px 23px 0px rgba(255, 255, 255, 0.15);
            -moz-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
            &:hover {
              background-color: $primary;
              border-color: $primary;
              color: $white;
            }
          }
          .form-bottom-link {
            text-align: right;
            font-size: 18px;
          }
        }
      }
    }
    .card-form-footer {
      text-align: center;
      margin-top: 5rem;
      ul {
        margin: 0 auto;
        padding: 0;
        display: inline-block;
        li {
          display: inline-block;
          margin-right: 2.5rem;
          &:last-child {
            margin-right: 0;
          }
          a {
            font-size: 18px;
            text-transform: uppercase;
          }
        }
      }
    }
    .form-link {
      border-bottom: 1px solid $link-bottom;
      &:hover {
        color: $secondary !important;
      }
    }

  }

}
/*End*/
.my-login-page .card-wrapper {
  width: 100%;
  margin-left: 0;
}
.my-login-page .card {
  border-color: transparent;
}
.my-login-page .card .card-title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
}
.my-login-page .btn.btn-block {
  padding: 16px 10px;
}

.my-login-page .no-margin {
  margin: 0;
}


/* The custom checkboxess css */
.cst-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: .937rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cst-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.cst-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cst-container:hover input ~ .cst-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cst-container input:checked ~ .cst-checkmark {
  background-color: $primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.cst-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cst-container input:checked ~ .cst-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cst-container .cst-checkmark:after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


::-webkit-input-placeholder {
  color: $white !important;
  text-transform: uppercase;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $white !important;
}

:-ms-input-placeholder {
  color: $white !important;
}



/*switch toggle css*/
.cst-switch {
  position: relative;
  border: 0;
  padding: 0;
  width: 15rem;
}

.cst-switch input {
  position: absolute;
  opacity: 0;
}

.cst-switch label {
  position: relative;
  z-index: 2;
  float: left;
  width: 20%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 0 3px 0;
  text-align: center;
  color: $secondary;
  cursor: pointer;
  transition: color 0s ease 0.1s;
  border: 1px solid #e7e7e7;
}

.cst-switch input:checked + label {
  color: #fff;
  background-color: $primary;
  border: 1px solid $primary;
}

.cst-switch input:focus + label {
  outline: none;
}
/*switch toogle cdd end*/
/* Media css*/

@media only screen and (max-width: 1366px) {
.logo-block img {
  width: 100%;
}
  .my-login-section .bg-hero-sec {
    padding: 3rem 0 3rem 0 !important;
    height: 100%;
  }
  .my-login-section .forgot_password_sec {
    height: auto;
  }
  .my-login-section .bg-hero-sec-right {
    padding: 3rem 0 3rem 0;
    height: 100%;
  }
  .my-login-section .bg-hero-sec .logo-content-block .logo-text-block h1 {
    padding-left: 10px;
  }
  .my-login-section .bg-hero-sec-right .card-wrapper .card .card-body .form-bottom-link {
    font-size: 15px;
  }
  .my-login-section .bg-hero-sec-right .card-wrapper .card .card-body {
    padding: 0;
  }
}


@media only screen and (max-width: 1280px) {

  .my-login-section .bg-hero-sec-right .card-wrapper .card .card-body .form-heading h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .my-login-section .bg-hero-sec-right .card-wrapper .card .card-body .form-heading h2 {
    font-size: 24px;
    line-height: 34px;
  }
  .logo-block img {
    width: auto;
  }
  .my-login-section .bg-hero-sec .logo-content-block .logo-text-block h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1200px) {
  .my-login-page .card-wrapper {
    margin-left: 0 !important;
  }
  .my-login-section .bg-hero-sec {
    padding: 3rem !important;
  }
  .my-login-section .bg-hero-sec-right {
    padding: 3rem;
  }
  .my-login-section .bg-hero-sec .logo-content-block .logo-text-block h1 {
    font-size: 30px;
    padding-left: 0;
    line-height: 35px;
  }
  .logo-block img {
    width: 100%;
  }
  /*css END login page*/
}
@media only screen and (max-width: 991px) {
.logo-text-block br {
  display: none;
}
  .my-login-section .bg-hero-sec .logo-content-block .logo-text-block h1 {
    font-size: 24px;
    line-height: 44px;
    text-align: center;
  }
  .my-login-section .bg-hero-sec .logo-content-block .pipe-block .pipe {
    display: block;
    height: 1px;
    width: 100%;
    text-align: center;
    left: 0;
    margin: 30px 0;
    position: inherit;
  }
  .logo-block img {
    width: auto;
  }
  .my-login-section .bg-hero-sec-right .card-form-footer ul li {
    display: block;
    margin-right: 0;
    text-align: center;
    margin: 10px;
  }
  .my-login-section .bg-hero-sec-right .card-form-footer ul li a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  /*css for my login page*/



  /*css END login page*/
}
@media only screen and (max-width: 800px) {
  /*css for my login page*/
  .my-login-section .bg-hero-sec {
    padding: 2.5rem !important;
  }
  /*css END login page*/
}

@media only screen and (max-width: 767px) {
  .my-login-section .bg-hero-sec {
    margin-left: 0 !important;
    padding: 2rem !important;
    margin-bottom: 10px;
  }
  .my-login-section .forgot_password_sec {
    height: 100%;
  }
  .my-login-section .bg-hero-sec-right .card-form-footer ul li {
    display: inline-block;
    margin-right: 0;
    text-align: center;
    margin: 10px;
  }
}
@media only screen and (max-width: 570px) {
  .my-login-section .bg-hero-sec-right .card-form-footer ul li {
    display: block;
  }
  .my-login-section .bg-hero-sec-right .card-wrapper .card .card-body .form-bottom-link {
    text-align: center !important;
  }
  .btn-xs-center {
    text-align: center !important;
    .btn-submit {
      margin-bottom: 1rem;
    }
  }
}
@media only screen and (max-width: 450px) {
  .my-login-section .bg-hero-sec .logo-content-block .logo-text-block h1 {
    font-size: 20px;
  }
  .my-login-section .bg-hero-sec-right .card-wrapper .card .card-body .form-heading h1 {
    font-size: 24px;
  }
  .my-login-section .bg-hero-sec-right .card-wrapper .card .card-body .form-heading p {
    font-size: 16px;
  }

}
@media only screen and (max-width: 340px) {
  .my-login-section .bg-hero-sec {
    padding: 1rem !important;
  }

}


