/* Media query */

@media screen and (max-width: 1366px) {
  .container {
    max-width: 1310px;
  }
  .search-form .search-btn {
    padding: 0.4rem .775rem 0.4rem .775rem;
    font-size: 0.875rem;
  }
  .application_history_section .search-form {
    padding: 0 15px;
  }
  .iir-pagination-block {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1260px) {
  .iir-text-section h1 {
    font-size: 1.6rem;
  }
  .form-step-section .radio-block .iir-radio-title {
    font-size: 1.3rem;
  }
  .form-step-section .f1-step p {
    font-size: 0.755rem;
  }
  .cst-radio-container {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1199px) {
  .form-step-section .iir-additional-info .iir-additional-info-list {
    width: 18.7%;
  }
  .lg-opacity-0 {
    opacity: 0;
  }
}

@media screen and (max-width: 1180px) {
  .card-link + .card-link {
    margin-left: 0;
    margin-top: 0px;
  }
}

@media screen and (max-width: 1170px) {
  .container {
    max-width: 100%;
  }
  header ul .nav-item {
    margin-right: 3px;
    margin-left: 3px;
  }
  header {
    padding-left: 0;
    padding-right: 0;
  }
  header a.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    float: left;
  }
  header ul .start {
    padding-right: 12px !important;
    padding-left: 12px !important;
  }
}

@media screen and (max-width: 1160px) {
  .card-link + .card-link {
    margin-left: 0;
    margin-top: 5px;
  }
}

@media screen and (max-width: 1105px) {
  .form-step-section .f1-step p {
    font-size: 0.685rem;
  }
  .form-step-section .f1-progress {
    left: 90px;
  }
}

@media screen and (max-width: 1105px) {
  .form-step-section .iir-card-title {
    font-size: 1.1rem;
  }
  .form-step-section .top_heading h3 {
    font-size: 1.2rem;
  }
  .form-step-section .iir-site-info .site-info-block .iir-pdf-title {
    font-size: 1.1rem;
  }
  .form-step-section .iir-site-info h5 {
    font-size: 1.1rem;
  }
  .form-step-section .iir-following-title h5 {
    font-size: 1.2rem;
  }
  .form-step-section .iir-additional-info .iir-additional-info-list p {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 1024px) {
  .application_history_section .search-form .search-btn {
    padding: 0.4rem 1.875rem 0.4rem 1.375rem;
  }

}

@media screen and (max-width: 992px) {
  .number {
    float: left;
    margin-top: 8px;
  }
  header a.navbar-brand {
    float: left;
    margin-left: 0;
  }
  .navbar {
    display: block;
  }
  .navbar-light .navbar-toggler {
    float: right;
    border-color: $white;
    background-color: $white;
  }
  #navbarNavDropdown {
    background-color: $white;
    float: left;
    text-align: center;
    width: 100%;
    float: left;
  }
  .number span {
    display: none;
  }
  header .number {
    border-left-color: $black;
  }
  header {
    background-color: $white;
  }
  header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: $white;
    z-index: 5;
    transition: all .1s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    a.navbar-brand {
      color: $black !important;
    }
    ul .nav-link {
      color: $gray-500 !important;
      &:hover, &:focus, &:active {
        color: $blue !important;
      }
    }
    .nav-item.active {
      .nav-link {
        color: $pink !important;
      }
    }
    .number {
      color: $black;
      a {
        color: $black;
      }
    }
    .nav-link.login {
      border-color: $blue;
      color: $blue !important;
      &:hover, &:focus, &:active {
        background-color: $pink;
        color: $white !important;
        border-color: $pink;
      }
    }
    .nav-link.start {
      border-color: $blue;
      color: $white !important;
      &:hover, &:focus, &:active {
        background-color: $pink;
        color: $white !important;
        border-color: $pink;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    padding: 0.5rem 0rem;
  }
  header a.navbar-brand {
    margin-left: 15px;
  }
  header ul .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none;
    outline: none;
  }
  .number {
    float: left;
    margin-top: 5px;
  }
  #navbarNavDropdown {
    background-color: transparent;
    cursor: pointer;
  }
  header ul .user-dropdown {
    justify-content: center;
    padding: 10px 0 10px 0 !important;
  }
  #navbarNavDropdown {
    margin-top: 10px;
  }
  #navbarNavDropdown .navbar-nav {
    padding-top: 0;
    background: #fafafa;
  }
  header ul .nav-item {
    margin-right: 0;
    margin-left: 0;
    border-top: solid 1px #e7e7e7;
  }
  header ul .nav-link {
    color: #444d56 !important;
  }
  header ul .user-dropdown-menu {
    width: 200px;
    margin: 0 auto;
  }
  .search-form .search-btn {
    margin-top: 0px;
  }

}

@media screen and (max-width: 980px) {
  .form-step-section .f1-progress {
    left: 65px;
  }
}

@media screen and (max-width: 767px) {
  .iir-text-section h1 {
    font-size: 1.3rem;
  }
  .iir-text-section p {
    font-size: 0.875rem;
  }
  .label_modifier {
    font-size: 0.875rem;
  }
  .form-step-section .radio-block .iir-radio-title {
    font-size: 1.2rem;
  }
  .cst-radio-container {
    font-size: .875rem;
  }
  footer .footer-middle-sec .footer-list-group .list-item .list-group-link {
    padding-right: 0rem;
    padding-left: 0rem;
    font-size: 0.875rem;
  }
  .form-step-section .iir-card-title {
    font-size: 1rem;
  }
  .form-step-section .top_heading h3 {
    font-size: 1.1rem;
  }
  .form-step-section .iir-following-title h5 {
    font-size: 1rem;
  }
  .btn-gray-600 {
    //margin-bottom: 1rem;
  }
  .form-step-section .iir-site-info .iir-budget {
    padding-left: 0;
  }
  .form-step-section .iir-site-info .iir-bdr {
    border-left: none;
  }
  .iir-app-btn {
    font-size: 1rem;
  }
  .sign-form {
    margin-top: 0px;
  }
  .search-form .search-btn {
    margin-top: 15px;
  }
  .iir-hero-section .iir-hero {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .iir-hero-section h1 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .iir-hero-section h3 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 580px) {
  h2 {
    font-size: 22px;
    line-height: 28px;
    margin-top: 10px;
  }
  h2 br {
    display: none;
  }
  .hero-marque .text-holder h1 {
    font-size: 30px;
  }
  .hero-marque .text-holder {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
  }
  header a.navbar-brand {
    font-size: 19px;
  }
  header .number {
    padding-left: 10px;
  }
  .hero-marque {
    margin-bottom: 15px;
  }
  .form-step-section .f1-progress {
    left: 55px;
  }

  .application_history_section .search-form .iir-b-t-l-radius {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .application_history_section .search-form .iir-b-t-r-radius {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

/* // Media query */
