
 body{
     font-size: $font-size-base;
     transition: all .1s ease-in-out;
     color: $bg-footer-600;
     background-color: $bg-body;
     font-family: $font-1;
     letter-spacing: 0.5px;
}

 html, body {
     height: 100%;
}
 #wrap {
     min-height: 100%;
}
 a{
     transition: all .1s ease-in-out;
}
 * {
     border:0;
     outline: none;
}




 @font-face {
  font-family: 'ProximaNovaA-Regular';
  src: url(font-path('proxima-nova/regular/ProximaNovaA-Regular.eot?#iefix')) format('embedded-opentype'),
  url(font-path('proxima-nova/regular/ProximaNovaA-Regular.otf'))  format('opentype'),
  url(font-path('proxima-nova/regular/ProximaNovaA-Regular.woff')) format('woff'),
  url(font-path('proxima-nova/regular/ProximaNovaA-Regular.ttf'))  format('truetype'),
  url(font-path('proxima-nova/regular/ProximaNovaA-Regular.svg#ProximaNovaA-Regular')) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaA-Light';
  src: url(font-path('proxima-nova/light/ProximaNovaA-Light.eot?#iefix')) format('embedded-opentype'),
  url(font-path('proxima-nova/light/ProximaNovaA-Light.otf'))  format('opentype'),
  url(font-path('proxima-nova/light/ProximaNovaA-Light.woff')) format('woff'),
  url(font-path('proxima-nova/light/ProximaNovaA-Light.ttf'))  format('truetype'),
  url(font-path('proxima-nova/light/ProximaNovaA-Light.svg#ProximaNovaA-Light')) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaA-Bold';
  src: url(font-path('proxima-nova/bold/ProximaNovaA-Bold.eot?#iefix')) format('embedded-opentype'),
  url(font-path('proxima-nova/bold/ProximaNovaA-Bold.otf'))  format('opentype'),
  url(font-path('proxima-nova/bold/ProximaNovaA-Bold.woff')) format('woff'),
  url(font-path('proxima-nova/bold/ProximaNovaA-Bold.ttf'))  format('truetype'),
  url(font-path('proxima-nova/bold/ProximaNovaA-Bold.svg#ProximaNovaA-Bold')) format('svg');
  font-weight: normal;
  font-style: normal;
}
