<div id="wrap">
  <!--Navbar-->
  <app-dashboard-navbar></app-dashboard-navbar>
  <!--Navbar/-->

  <div class="clearfix"></div>

  <!--MainComponent-->
  <div id="router__page_content">
    <router-outlet></router-outlet>
  </div>
  <!--MainComponent/-->
</div>

<div class="clearfix"></div>

<!--Footer-->
<app-dashboard-footer></app-dashboard-footer>
<!--Footer/-->
