<fieldset class="additional-info">
  <form #addlInfoForm="ngForm">
    <div class="row">
      <div class="col-sm-6" *ngIf="project">
        <div class="card bg-transparent mb-4">
          <div class="card-body">
            <h4 class="iir-card-title mb-0">Project Title: {{project.title}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label_modifier" for="">detailed study protocol: <span _ngcontent-c8="" class="small-form-text">(Upto 10MB)</span></label>
          <div class="file_input_modifier">
            <input type="file" name="study_protocol" id="file-study" class="inputfile inputfile-1"
                   (change)="onDocumentChange($event,addlDocuments.STUDY_PROTOCOL)" #studyProtocol="ngModel"
                   data-multiple-caption="{count} files selected" ngModel
                   [required]="!documentForCategory(addlDocuments.STUDY_PROTOCOL)"
                   accept=".doc,.docx,application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
            <label for="file-study" [ngClass]="{'hasError':studyProtocol.touched && studyProtocol.invalid}">
              <span>Attach file here</span>
            </label>
            <ng-container
              *ngTemplateOutlet="file_placeholder;context:{file:addlInfo?.study_protocol,document:documentForCategory(addlDocuments.STUDY_PROTOCOL)}"></ng-container>
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label_modifier" for="">draft informed consent form: <span _ngcontent-c8=""
                                                                                  class="small-form-text">(Upto 10MB)</span></label>
          <div class="file_input_modifier">
            <input type="file" name="consent_form" id="file-consent" class="inputfile inputfile-1"
                   accept=".doc,.docx,application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                   ngModel #consentForm="ngModel" (change)="onDocumentChange($event,addlDocuments.CONSENT_FORM)"
                   data-multiple-caption="{count} files selected"
                   [required]="!documentForCategory(addlDocuments.CONSENT_FORM)"/>
            <label for="file-consent" [ngClass]="{'hasError':consentForm.touched && consentForm.invalid}">
              <span>Attach file here</span>
            </label>
            <ng-container
              *ngTemplateOutlet="file_placeholder;context:{file:addlInfo?.consent_form,document:documentForCategory(addlDocuments.CONSENT_FORM)}"></ng-container>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label_modifier mb-0" for="">total funding requested: <span _ngcontent-c8=""
                                                                                   class="small-form-text">(Upto 10MB)</span></label>
          <p class="small-form-text">(itemized and detailed; including items for any products requested)</p>
          <div class="file_input_modifier">
            <input type="file" name="funding" id="file-funding" class="inputfile inputfile-1"
                   accept=".doc,.docx,application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                   ngModel #totalFunding="ngModel" (change)="onDocumentChange($event,addlDocuments.FUNDING)"
                   data-multiple-caption="{count} files selected"
                   [required]="!documentForCategory(addlDocuments.FUNDING)"/>
            <label for="file-funding" [ngClass]="{'hasError':totalFunding.touched && totalFunding.invalid}">
              <span>Attach file here</span>
            </label>
            <ng-container
              *ngTemplateOutlet="file_placeholder;context:{file:addlInfo?.funding,document:documentForCategory(addlDocuments.FUNDING)}"></ng-container>
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label_modifier" for="">curriculum vitae of any sub-investigators and other clinical
            staff expected to participate in the study: <span _ngcontent-c8=""
                                                              class="small-form-text">(Upto 10MB)</span></label>
          <div class="file_input_modifier">
            <input type="file" name="cv_others" id="file-cv-others" class="inputfile inputfile-1"
                   accept=".doc,.docx,application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                   ngModel #cvOthers="ngModel" [required]="!documentForCategory(addlDocuments.CV_OTHERS)"
                   (change)="onDocumentChange($event,addlDocuments.CV_OTHERS)"
                   data-multiple-caption="{count} files selected"/>
            <label for="file-cv-others" [ngClass]="{'hasError':cvOthers.touched && cvOthers.invalid}">
              <span>Attach file here</span>
            </label>
            <ng-container
              *ngTemplateOutlet="file_placeholder;context:{file:addlInfo?.cv_others,document:documentForCategory(addlDocuments.CV_OTHERS)}"></ng-container>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label_modifier" for="">certification that no one to be involved in the investigation
            has ever been disqualified or otherwise under investigation by regulatory or institutional
            body: <span _ngcontent-c8="" class="small-form-text">(Upto 10MB)</span></label>
          <div class="file_input_modifier">
            <input type="file" name="certification" id="file-certification" class="inputfile inputfile-1"
                   accept=".doc,.docx,application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                   ngModel #certification="ngModel" (change)="onDocumentChange($event,addlDocuments.CERTIFICATION)"
                   data-multiple-caption="{count} files selected"
                   [required]="!documentForCategory(addlDocuments.CERTIFICATION)"/>
            <label for="file-certification" [ngClass]="{'hasError':certification.touched && certification.invalid}">
              <span>Attach file here</span>
            </label>
            <ng-container
              *ngTemplateOutlet="file_placeholder;context:{file:addlInfo?.certification,document:documentForCategory(addlDocuments.CERTIFICATION)}"></ng-container>
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group mt-5">
          <label class="label_modifier mb-1" for="">cover letter: <span _ngcontent-c8="" class="small-form-text">(Upto 10MB)</span></label>
          <div class="file_input_modifier">
            <input type="file" name="cover_letter" id="file-cover-letter" class="inputfile inputfile-1"
                   accept=".doc,.docx,application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                   ngModel #coverLetter="ngModel" (change)="onDocumentChange($event,addlDocuments.COVER_LETTER)"
                   data-multiple-caption="{count} files selected"
                   [required]="!documentForCategory(addlDocuments.COVER_LETTER)"/>
            <label for="file-cover-letter" [ngClass]="{'hasError':coverLetter.touched && coverLetter.invalid}">
              <span>Attach file here</span>
            </label>
            <ng-container
              *ngTemplateOutlet="file_placeholder;context:{file:addlInfo?.cover_letter,document:documentForCategory(addlDocuments.COVER_LETTER)}"></ng-container>
          </div>

        </div>
      </div>
    </div>
    <hr class="iir-pipe-line">
    <div class="f1-buttons">
      <button type="button" class="btn btn-gray-600 iir-btn btn-previous  text-uppercase" (click)="prevClick($event)">
        Back
      </button>
      <button type="button" class="btn btn-gray-600 iir-btn text-uppercase" (click)="saveDraft()"
              [disabled]="submitted" [ngClass]="{'btn-invalid-disabled': submitted}">Save Draft
      </button>
      <button type="button" class="btn btn-secondary iir-btn btn-next text-uppercase"
              [ngClass]="{'btn-invalid-disabled': !addlInfoForm.valid || submitted}"
              (click)="formSubmit($event)" [disabled]="!addlInfoForm.valid || submitted">Save & next
      </button>
    </div>
  </form>
</fieldset>

<ng-template #file_placeholder let-file="file" let-document="document">
  <ng-container *ngIf="document">
    <a [href]="document?.file?.location" target="_blank">
      <img *ngIf="document?.file?.mimetype === 'application/pdf'"
           src="assets/images/icon/ic_pdf.png" alt=""/>

      <img
        *ngIf="['application/msword','.doc','.docx','application/msword','application/vnd.openxmlformats-officedocument.wordprocessingml.document'].indexOf(document?.file?.mimetype) > -1"
        src="assets/images/icon/ic_word.png" alt=""/>
    </a>
    <span>{{document?.file?.originalname}}</span>
  </ng-container>

  <ng-container *ngIf="file">
    <img *ngIf="file.type === 'application/pdf'"
         src="assets/images/icon/ic_pdf.png" alt=""/>
    <img
      *ngIf="['application/msword','.doc','.docx','application/msword','application/vnd.openxmlformats-officedocument.wordprocessingml.document'].indexOf(file?.type) > -1"
      src="assets/images/icon/ic_word.png" alt=""/>
    <span>{{file.name}}</span>
  </ng-container>
</ng-template>
