<ng-container *ngIf="(loaded$|async);then all_application else loading_content"></ng-container>
<ng-template #all_application>
  <ng-container *ngIf="(loaded$|async) && !newUser;else new_user_default">
    <section class=" iir-section iir-text-section application_history_section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="search-form">
              <form #filterForm="ngForm" (ngSubmit)="filterData()">
                <div class="row align-items-center">
                  <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 px-0">
                    <div class="form-group">
                      <label for="" class="modify_label">Status</label>
                      <div class="b-select-wrap border-bottom-xs">
                        <select class="form-control search-field border-right b-select iir-b-t-l-radius"
                                name="status_filter" [(ngModel)]="filterBy.status" ngModel>
                          <option [ngValue]="'all'">All</option>
                          <option *ngFor="let opt of filterStatuses" [ngValue]="opt">{{opt|titlecase}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 px-0">
                    <div class="form-group">
                      <label for="" class="modify_label">Title</label>
                      <input class="form-control search-field" id="inlineTitleField" name="title"
                             type="text" [(ngModel)]="filterBy.title" ngModel>
                    </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 px-0">
                    <div class="form-group">
                      <label for="" class="modify_label">Contact Name</label>
                      <input class="form-control search-field" id="inlineNameField" type="text" name="name"
                             [(ngModel)]="filterBy.name" ngModel>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 px-0">
                    <div class="form-group">
                      <label for="" class="modify_label">App id</label>
                      <input class="form-control search-field" id="inlineFormInputGroup" name="app_id"
                             type="text" [(ngModel)]="filterBy.appId" ngModel>
                    </div>
                  </div>
                  <div class="col-xl-1 col-lg-1 col-md-3 col-sm-4 px-0">
                    <button type="submit" class="btn btn-secondary search-btn btn-block iir-b-t-r-radius1 border-right">
                      Filter
                      <svg xmlns="http://www.w3.org/2000/svg"
                           xmlns:xlink="http://www.w3.org/1999/xlink" class="lg-opacity-0 js-logo multiple-icons"
                           viewBox="0 0 35 35" preserveaspectratio xminymin meet>
                        <image xlink:href="assets/images/icon/search.svg" height="35px" x="0" y="0"
                               width="35px"></image>
                      </svg>
                    </button>
                  </div>
                  <div class="col-xl-1 col-lg-1 col-md-3 col-sm-4 px-0">
                    <button type="button" class="btn btn-secondary search-btn btn-block iir-b-t-r-radius "
                            (click)="resetFilters()">Cancel
                      <svg class="lg-opacity-0 js-logo multiple-icons search-icon-hide-1200" viewBox="0 0 35 35"
                           preserveaspectratio xminymin meet>

                      </svg>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-sm-12">
            <div class="app-table-list">
              <div class="card app-table-card">
                <div class="card-header iir-app-header">
                  <div class="row align-items-center">
                    <div class="col-lg-6">
                      <h3>my applications</h3>
                    </div>
                    <div class="col-lg-6 text-right">
                      <a href="javascript:void(0);" routerLink="new"
                         class="btn btn-secondary iir-app-btn1" role="button">Create
                        IIR</a>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="table-wrapper table-responsive">
                    <table class="table table-hover iir-app-table">
                      <thead>
                      <tr class="tr-block">
                        <th class="text-center">app id</th>
                        <th class="text-center">title</th>
                        <th class="text-center">contact Name</th>
                        <th class="text-center">create date</th>
                        <th class="text-center">submission date</th>
                        <th class="text-center">status</th>
                        <th>action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let project of projects;">
                        <td class="text-center"><a href="javascript:void(0);"
                                                   routerLink="{{project.id}}/overview"
                                                   class="text-secondary"><u>{{project.applicationId}}</u></a></td>
                        <td class="text-center iir-w-20">{{project?.title?.length > 30 ? (project?.title |
                          slice:0:30)+'...' :
                          project?.title}}
                        </td>
                        <td class="text-center iir-w-20">
                          {{project?.internalContact?.length > 18 ? (project?.internalContact | slice:0:18)+'...' :
                          project?.internalContact||'-'}}
                        </td>
                        <td class="text-center">{{project.createdAt|date:'MM/dd/yyyy'}}</td>
                        <td class="text-center">{{project.submittedAt ? (project.submittedAt|date:'MM/dd/yyyy') :
                          '-'}}
                        </td>
                        <td class="text-center">
                          <span class="text-warning" *ngIf="project.status === projectStatus.SUBMITTED">Submitted</span>
                          <span class="text-success" *ngIf="project.status === projectStatus.APPROVED">Approved</span>
                          <span class="text-danger"
                                *ngIf="project.status === projectStatus.IN_PROGRESS">In-progress</span>
                          <span class="text-primary" *ngIf="project.status === projectStatus.REJECTED">Rejected</span>
                          <span class="text-gray" *ngIf="project.status === projectStatus.DRAFT">Draft</span>
                        </td>
                        <td>
                          <a href="javascript:void(0);" class="card-link  btn iir-btn-gray-600 iir-btn-sm"
                             routerLink="{{project.id}}/edit"
                             *ngIf="project.status === projectStatus.IN_PROGRESS">Edit</a>
                          <a href="javascript:void(0);" class="card-link  btn iir-btn-gray-600 iir-btn-sm"
                             (click)="withdrawProjectAction(project.id)"
                             *ngIf="project.status === projectStatus.SUBMITTED">Withdraw</a>
                          <!--<a href="#" class="card-link  btn iir-btn-gray-600 iir-btn-sm">Delete</a>-->
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <p *ngIf="projects?.length === 0" class="text-center mt-lg-3">No Result Found</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <hr class="pipe-bottom pipe-top">
                </div>
              </div>
              <!--<div class="row">-->
              <!--<div class="col-lg-12">-->
              <!--<div class="iir-pagination-block">-->
              <!--<nav aria-label="Page navigation example">-->
              <!--<ul class="pagination justify-content-end">-->
              <!--<li class="page-item disabled page-item-pre"><a class="page-link" href="#"-->
              <!--aria-label="Previous">-->
              <!--<i-->
              <!--class="fa fa-angle-double-left"></i> <span class="iir-pre">Previous</span> </a></li>-->
              <!--<li class="page-item active"><a class="page-link" href="#">1</a></li>-->
              <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
              <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
              <!--<li class="page-item"><a class="page-link" href="#">4</a></li>-->
              <!--<li class="page-item"><a class="page-link" href="#">5</a></li>-->
              <!--<li class="page-item"><a class="page-link" href="#">6</a></li>-->
              <!--<li class="page-item pl-2 pr-2 pt-1"><a href="#">...</a></li>-->
              <!--<li class="page-item"><a class="page-link" href="#">7</a></li>-->
              <!--<li class="page-item page-item-next"><a class="page-link" href="#" aria-label="Next"> <span-->
              <!--class="irr-next">Next</span> <i class="fa fa-angle-double-right"></i> </a></li>-->
              <!--</ul>-->
              <!--</nav>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</ng-template>

<ng-template #loading_content>
  <div class="iir-section iir-text-section container">
    Loading...
  </div>
</ng-template>

<ng-template #new_user_default>
  <section class="hero-iir-section iir-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="hero-iir">
            <img src="assets/images/thumbnails/iirimg.jpg" alt="" class="img-fluid"/>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="hero-iir-text">
            Welcome to ResMed's Investigator Initiated Portal! Click the appropriate option below to begin a new
            proposal application, or to view your saved applications.
          </div>
          <a href="javascript:void(0);" routerLink="new" class="btn btn-secondary iir-btn">Begin New IIR Application</a>
        </div>
      </div>
    </div>
  </section>
</ng-template>
