/*
Error: File to import not found or unreadable: ~bootstrap/scss/bootstrap.
        on line 13 of styles.scss

8: --------------------------------------------------------------*\/
9: @import "assets/sass/custom/custom_variables";
10: /*--------------------------------------------------------------
11: ## bootstrap
12: --------------------------------------------------------------*\/
13: @import "~bootstrap/scss/bootstrap";
14: /*--------------------------------------------------------------
15: ## Defalut SASS Body
16: --------------------------------------------------------------*\/
17: @import "assets/sass/custom/reset";
18: /*--------------------------------------------------------------

Backtrace:
styles.scss:13
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/import_node.rb:44:in `import'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/stack.rb:79:in `with_base'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `each'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/exec/base.rb:52:in `parse'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/exec/base.rb:19:in `parse!'
/Users/bitcot/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/bin/scss:13:in `<top (required)>'
/Users/bitcot/.rvm/gems/ruby-2.5.0/bin/scss:23:in `load'
/Users/bitcot/.rvm/gems/ruby-2.5.0/bin/scss:23:in `<main>'
/Users/bitcot/.rvm/gems/ruby-2.5.0/bin/ruby_executable_hooks:15:in `eval'
/Users/bitcot/.rvm/gems/ruby-2.5.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ~bootstrap/scss/bootstrap.\A         on line 13 of styles.scss\A \A 8: --------------------------------------------------------------*/\A 9: @import \"assets/sass/custom/custom_variables\";\A 10: /*--------------------------------------------------------------\A 11: ## bootstrap\A 12: --------------------------------------------------------------*/\A 13: @import \"~bootstrap/scss/bootstrap\";\A 14: /*--------------------------------------------------------------\A 15: ## Defalut SASS Body\A 16: --------------------------------------------------------------*/\A 17: @import \"assets/sass/custom/reset\";\A 18: /*--------------------------------------------------------------"; }
