<div id="wrap">
  <section class="iir-section iir-text-section iir-hero-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>ResMed Support for Investigator-Initiated Research</h1>
          <div class="iir-hero">
            <img src="assets/images/thumbnails/iir-hero.png" alt="" class="img-fluid"/>
          </div>
          <p>ResMed changes lives with award-winning medical devices and cutting-edge cloud-based software applications
            that diagnose, treat and manage sleep disordered breathing (SDB), chronic obstructive pulmonary disease
            (COPD) and other chronic diseases. ResMed is a global leader in connected care, with millions of patients
            remotely monitored every day. Our team is committed to creating the world's best tech-driven medical device
            company – improving quality of life, reducing the impact of chronic disease, and saving health care costs in
            more than 100 countries.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="text-uppercase">SUBMITTING AN IIR PROPOSAL</h1>
          <p class="">The ResMed Clinical Review Board conducts the review process and decisions are based upon medical
            and scientific merit as well as the available resources and research priorities. ResMed will make every
            attempt for a speedy review process and communicate the process timelines along the way with the
            investigator and/or their representative. A formal notification on the status of the request will be sent
            once a decision is reached. While all requests will be reviewed, ResMed makes no promises that it will
            approve a request.</p>
          <h3>Key areas of interest include:</h3>
          <ul class="iir-key-areas">
            <li class="iir-key-areas-list">Optimization of clinical pathways to improve accessibility and efficiency in
              the diagnosis and treatment of sleep apnea.
            </li>
            <li class="iir-key-areas-list">Innovative strategies to enhance initial compliance and long term adherence
              to PAP therapy, especially through use of telemedicine.
            </li>
            <li class="iir-key-areas-list">Evidence to show the economic value of treating sleep apnea and COPD.</li>
            <li class="iir-key-areas-list">Association of clinical outcomes and quality of life with the use of portable
              oxygen concentrators (POCs).
            </li>
            <li class="iir-key-areas-list">Contribution to scientific knowledge and patient pathways for the use of
              non-invasive ventilation.
            </li>
            <li class="iir-key-areas-list">New insights into utilizing clinical data to improve patients' lives; for
              example, through reducing hospital admissions, reducing healthcare costs, enabling meaningful prediction
              of exacerbations, increasing quality of life, patient engagement.
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center" *ngIf="_loggedIn !== null">
          <a href="javascript:void(0);" routerLink="/login" role="button" *ngIf="!_loggedIn"
             class="btn btn-secondary iir-btn text-uppercase">please click
            here to login</a>
          <a href="javascript:void(0);" routerLink="/applications" role="button" *ngIf="_loggedIn"
             class="btn btn-secondary iir-btn text-uppercase">View Applications</a>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
</div>
